/********SETTINGS **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: rgba(0, 150, 136, 1);
}

/* ****************************ROOT COLOR************** */
:root {
    --main-color: rgb(234, 234, 234);
}

i {
    color: grey;
}

.grey {
    color: grey;
}

/* ***********MAIN CONTAINER******************** */
.container {
    height: 90vh;
    margin-top: 1.5rem;
    background-color: var(--main-color);
}

/* ******************************* */

.rounded-img {
    width: 60px;
    border-radius: 50%;
}

#rounded-icon {
    background-color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* *************Left Wrapper**************** */

#left-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

#second-row {
    background-color: rgb(142, 218, 252);
}

#bell {
    color: rgb(142, 218, 252);
    font-size: 20px;
}

#users-container {
    overflow-y: auto;
    background-color: white;
}

#chat {
    border-bottom: solid 1px;
    border-color: lightgray;
}

#chat:hover {
    cursor: pointer;
    background-color: lightgray;
}

/* ******************Right Wrapper****************************** */

#right-wrapper {
    width: 70%;
}

#chat-container {
    background-image: url(../img/mine.jpg);
    padding: 2rem;
    overflow-y: scroll
}

#messages-container {
    min-height: 450px;
    margin: auto;
    padding: 2rem;
}

.sms {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-radius: 7px;
    position: relative;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.sent {
    background-color: rgb(213, 249, 186);
}

.received {
    background-color: white;
}

.messageInfo {
    border: solid 1px;
    border-color: lightgray;
    background-color: white;
    justify-content: space-evenly;
    position: absolute;
    padding: 1rem;
    z-index: 1;
    right: 15%;
    top: 40%;
    width: 150px;
    border-radius: 2px;
}

.info_messages:hover {
    color: darkgrey;
    cursor: pointer;
}