/******** BASE **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: teal;
}

/* ******************************* */
.rounded-img {
    width: 60px;
    border-radius: 50%;
}

#rounded-icon {
    background-color: white;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* ******************************* */
.container {
    min-height: 700px;
}


#left-wrapper {
    width: 350px;
    background-color: pink;
    display: flex;
    flex-direction: column;
}

/* ************************************************ */


#right-wrapper {
    background-color: rgb(192, 255, 230);
    flex-grow: 1;
}


#chat-container {
    min-height: 400px;
    background-color: burlywood;
    padding: 2rem;
}

#messages-container {
    min-height: 450px;
    background-color: darkkhaki;
    margin: auto;
    padding: 2rem;
}

.sms {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 7px;
}

.sent {
    background-color: green;
}

.received {
    background-color: white;
}